body {
  font-size: 1.2em;
}

body > main {
  display: flex;
  justify-content: space-evenly;
}

fieldset, .preview {
  border: 1px solid rgba(0, 0, 0, .07);
  border-radius: 5px;
}

.preview {
  margin-top: 11px;
  padding: 0.25em 0.5em;
}

input, textarea {
  border: 1px solid rgba(0, 0, 0, .14);
  font-size: 0.66em;
  padding: 5px;
  margin: 5px;
}

fieldset textarea {
  min-height: 100px;
}

input, textarea {
  min-width: 45%;
}

main > .tree-editor, .preview {
  width: 45vw;
}

.RichEditor-root {
  display: flex;
  flex-wrap: wrap;
}
.RichEditor-controlContainer {
  width: 100%;
  display: flex;
  padding-top: 10px;
}
.RichEditor-styleButton {
  border: 1px solid black;
  padding:5px;
  margin-right:4px;
  background-color:white;
  color:black;
  cursor: pointer;
}
.RichEditor-activeButton {
  border: 1px solid black;
  padding:5px;
  margin-right:4px;
  background-color:black;
  color:white;
  cursor: pointer;
}
.public-DraftEditorPlaceholder-inner, .public-DraftStyleDefault-block {
  padding-top: 20px;
}

.download-box {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
}
